@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

@media screen {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to bottom right, #9E2B25, #FCAB10);
    color: #313628;

  }
  a{
    text-decoration: none;
    color: #313628;
    font-weight: bold;
  }
  #navbar {
    position: fixed;
    top: 5px;
    margin: 5px;
    padding: 5px;
  }
  .nav-link {
    margin: 5px;
    padding: 5px;
    background-color: #ffd500;
  }
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 20px;
  }
  #img-div {
    display: flex;
    justify-content: center;
  }
  #bio-image {
    width: 45%;
    height: auto;
    margin: 20px;
    border-radius: 50%;
  }
  #projects {
    position: relative;
    left: 15%;
    width: 80%;
    margin-top: 100px;
  }
  #connections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}
